Second notebook in series

In [ ]:
import pandas as pd
import io
import sys
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

In [ ]:
from google.colab import files

In [ ]:
path = "/content/drive/My Drive/data/quasi.csv"

df = pd.read_csv(path)
# df.head()

In [ ]:
# mixed types in 4, 10, 15 and 16
# df['16'].value_counts()
print(df['16'].isna().sum())
print(df.shape)
#will only lose 5 rows
new=df[df['16'].isna()]
new.shape

In [ ]:
print(df['15'].isna().sum())
#will only lose 100
new2=new[new['15'].isna()]
new2.shape

In [ ]:
print(df['14'].isna().sum())
print(new2['14'].value_counts())

In [ ]:
#lets get rid of empty columns and make a new csv
new3=new2.dropna(axis=1, how='all')
print(new3.shape)
new3.sample(10)

In [ ]:

# Remove twp columns because the information is duplicated such as state and we can figure out the bank name.n
# new3=new3.drop(new3.columns[[14]], axis = 1, inplace = True) .... this is not correct/partition/copy
new3 = new3.drop('14', 1)

In [ ]:
new3 = new3.drop('13', 1)

In [ ]:
new3.head()

In [ ]:
# drop rows in column 12 with less than 2 values
col = '12'  # 'bar'
n = 2

new3=new3[new3.groupby(col)[col].transform('count').ge(n)]

In [ ]:
new3.shape

In [ ]:
new3['12'].value_counts()

In [ ]:
new3['11'].value_counts()

In [ ]:
pd.set_option('display.max_rows', 500)

In [ ]:
# df['result'] = df['result'].str.replace(r'\D', '')
# df
#  dfmi.loc[:, ('one', 'second')]
# df['result'] = df['result'].str.split(r'\D').str.get(1)

In [ ]:
new3['12'] = new3.loc[:,('12')].str.replace(r'\"\t', '')

In [ ]:
# df['result'] = df['result'].str.split(r'\D').str.get(1)
new3['12'] = new3.loc[:,('12')].str.replace(r'\"', '')

In [ ]:
new3['12'].value_counts()

In [ ]:
# new4.info()

In [ ]:
# drop rows in column 12 with less than 2 values
col = '11'  # 'bar'
n = 2

new3[new3.groupby(col)[col].transform('count').ge(n)]

In [ ]:
#ldc low date count

ldc=new3.groupby('12').filter(lambda x : (x['12'].count()<=2).any())
ldc.head()

In [ ]:
# only 64 lines
ldc.shape

In [ ]:
new3 = new3.rename(columns={'0': 'Loan Amount', '1': 'City', '2': 'State', '': 'Zip', '4': 'NAICS Code', 
                            '5': 'Business Type', '6': 'Race', '7': 'Gender', '8': 'Veteran', '9': 'Non Profit',
                            '10': 'Jobs Saved', '11': 'Date', '12': 'Bank',})
new3.head()

In [ ]:
new3['Bank'].value_counts()

In [ ]:

new3.to_csv('quasi2.csv', index=False)
!cp quasi2.csv "drive/My Drive/data"

In [ ]:
# check
path = "/content/drive/My Drive/data/quasi2.csv"

df2 = pd.read_csv(path, index_col=None)
df2.head()

In [ ]:
df2.shape

#most data retained. More cleanup to do either in another notebook, SQL or Tableau