Second notebook in series

In [ ]:
import pandas as pd
import io
import sys
import os
import re

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

In [ ]:
pd.set_option('mode.chained_assignment','warn')

In [ ]:

pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 1000)

In [ ]:
path = "/content/drive/My Drive/data/quasi.csv"

df = pd.read_csv(path)
# df.head()

In [ ]:
# mixed types in 4, 10, 15 and 16
# df['16'].value_counts()
print(df['16'].isna().sum())
print(df.shape)
#will only lose 5 rows
new = df.copy()
new=new[new['16'].isna()]
new.shape

In [ ]:
print(df['15'].isna().sum())
#will only lose 100
new2=new[new['15'].isna()]
new2.shape

In [ ]:
print(df['14'].isna().sum())
print(new2['14'].value_counts())

In [ ]:
#get rid of empty columns
new=new.dropna(axis=1, how='all')

new.sample(3)

In [ ]:
new.shape

In [ ]:
print(new['15'].value_counts())

In [ ]:
# Remove column 13, 14 and 15 because the information is duplicated in state column
new = new.drop('13', 1)
new=new.drop('14', 1)
new=new.drop('15', 1)

In [ ]:
new.shape

In [ ]:
# new[2000000:2000150]

In [ ]:
# drop rows in column 12 with less than 2 values
col = '12'  # 'bar'
n = 2
new=new[new.groupby(col)[col].transform('count').ge(n)]
new.shape

In [ ]:
# new.head()

In [ ]:
new['12'].value_counts()

In [ ]:
# remove " from beginning of bank name
new['12'] = [x.lstrip('"') for x in new['12']]

In [ ]:
# new['12'].describe()

In [ ]:
# new['12'].value_counts()

In [ ]:
new['1']=new['1'].astype(str)

In [ ]:
# another way to remove regex values
#  new['12'] = new.loc[:,('12')].str.replace(r'\"\t', '')
# removing digits 
# df_10v['emp_length'] = df_10v['emp_length'].astype(str).str.replace('\D+', '')

In [ ]:
print(new['1'].isna().sum())

In [ ]:
new=new.dropna(subset=['1'])
print(new['1'].isna().sum())
new.shape

In [ ]:
# remove " from beginning of bank name
new['1'] = [x.lstrip('"') for x in new['1']]

In [ ]:
new['1'].value_counts()

In [ ]:
# drop rows in column 11 with less than 2 values
col = '11'  # 'bar'
n = 2

new[new.groupby(col)[col].transform('count').ge(n)]
new.head()

In [ ]:
#ldc low date count

ldc=new.groupby('12').filter(lambda x : (x['12'].count()<=2).any())
ldc.head()

In [ ]:
# only 64 lines
ldc.shape

In [ ]:
print(new.iloc[:,5].isna().sum())

In [ ]:
new.iloc[:,5].describe()

In [ ]:
new['4'] = new['4'].astype(float)

In [ ]:
new['4'] = new['4'].astype(str)

In [ ]:
new['3'] = new['3'].astype(str)

In [ ]:

# new['10'] = new['10'].astype()

In [ ]:
# pd.options.display.float_format = '${:,.2f}'.format

In [ ]:
new = new.rename(columns={'0': 'Loan Amount', '1': 'City', '2': 'State', '3': 'Zip', '4': 'NAICS Code', 
                            '5': 'Business Type', '6': 'Race', '7': 'Gender', '8': 'Veteran', '9': 'Non Profit',
                            '10': 'Jobs Saved', '11': 'Date', '12': 'Bank',})
new.head()

In [ ]:
new['Bank'].value_counts()

In [ ]:
new.shape

In [ ]:
# Extract Column Names of a Pandas Dataframe
new.columns

In [ ]:
# remove " from empty cells name
new['State'] = [x.lstrip('"') for x in new['State']]

In [ ]:

new.to_csv('quasi2.csv', index=False)
!cp quasi2.csv "drive/My Drive/data"

In [ ]:
new['Jobs Saved'] = new['Jobs Saved'].astype(str)
new['Jobs Saved'] = new['Jobs Saved'].str.rstrip('.0')
new['Jobs Saved'].describe()

In [ ]:
print(new['Jobs Saved'].isna().sum())

In [ ]:
new['NAICS Code'] = new['NAICS Code'].astype(str)
new['NAICS Code'] = new['NAICS Code'].str.rstrip('.0')
new['NAICS Code'].describe()

In [ ]:
df['Jobs Saved'] = pd.to_numeric(df['Jobs Saved'], errors="coerce")

In [ ]:
new.sample()

In [ ]:
# check
path = "/content/drive/My Drive/data/quasi2.csv"

In [ ]:
df2 = pd.read_csv(path, index_col=None).sample(60000)

# df2.sample(25)

In [ ]:
df2.to_csv('samplequasi2.csv', index=False)
!cp quasi2.csv "drive/My Drive/data"

In [ ]:
#this notebook is getting to be long enough. Moving on to do more clean up in clean3.