Begin clean up of state csv files union and this notebook is mostly seeing what the dataset looks like and dropping columns with very little information.

In [ ]:
import pandas as pd
import os, sys 
import io
import ee

In [ ]:
# !pip install -U -q PyDrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = "/content/drive/My Drive/data/all_states.csv"

In [ ]:
#read in with new line separator 
df = pd.read_csv(path, header=None, sep="\n")
df = df[0].str.split(',', expand=True)

In [ ]:
df.head()

In [ ]:
from google.colab import files

In [ ]:
#save to csv
df.to_csv('data.csv', index=0)
!cp data.csv "drive/My Drive/"

In [ ]:
# dc dataframe for cleaning 
dc=pd.read_csv('/content/data.csv')
dc.head()

names = list(range(0,N))

In [ ]:
pd.set_option('max_colwidth', 800)
dc.sample(100)

In [ ]:

# dc=dc.dropna(how='all', axis='columns')
# dc.head()
dc.shape
dc.columns.tolist()

In [ ]:
dc["9"].value_counts()

In [ ]:
dc['27'].value_counts()

In [ ]:
df=dc
df.shape

In [ ]:
df['26'].value_counts()

In [ ]:
df['25'].value_counts()

In [ ]:
df['24'].value_counts()

In [ ]:
df['23'].value_counts()

In [ ]:
print(f'{df["22"].value_counts()}')
print(f'{df["21"].value_counts()}')
print(f'{df["20"].value_counts()}')
print(f'{df["19"].value_counts()}')
print(f'{df["18"].value_counts()}')
print(f'{df["17"].value_counts()}')
print(f'{df["16"].value_counts()}')
print(f'{df["15"].value_counts()}')

In [ ]:
tc=pd.read_csv('/content/data.csv')
tc.head()

In [ ]:
# sel = tc.drop(tc[tc["27"].notnull()], axis=1, inplace=True)

# sel=df.drop(df.loc[df[27]=='GU - 00'].index, inplace=True)

# sel.head()

In [ ]:
tc['27'].value_counts()
# sel = tc.drop(tc[tc["27"].notnull()], axis=0, inplace=True)
# sel.head()

In [ ]:
df = tc[tc['27'] != 'GU - 00']

In [ ]:
# df.head()
df.shape

In [ ]:
#we lost 1 rows, now let's drop null value columns
new=df.dropna(axis=1, how='all')
new.sample(10)

                0                   1   2  ...       14   15   16
2668990    7200.0          LOUISVILLE  KY  ...      NaN  NaN  NaN
2298978  109652.0  JACKSONVILLE BEACH  FL  ...  FL - 04  NaN  NaN
4002511   19195.0        SAN CLEMENTE  CA  ...      NaN  NaN  NaN
2953644   24542.0          ROYSE CITY  TX  ...  TX - 04  NaN  NaN
3591327    2341.0           HERMITAGE  TN  ...  TN - 05  NaN  NaN
1721281    3571.0             GILBERT  AZ  ...      NaN  NaN  NaN
2675498    1750.0        HOPKINSVILLE  KY  ...  KY - 01  NaN  NaN
1983812   20832.0            NEW YORK  NY  ...      NaN  NaN  NaN
2969723   20833.0               ALLEN  TX  ...  TX - 03  NaN  NaN
2322518   75457.0          WINDERMERE  FL  ...  FL - 10  NaN  NaN

[10 rows x 17 columns]

In [ ]:
# did not lose any rows
new.shape

(4224168, 17)

In [ ]:
new.to_csv('quasi.csv', index=0)
!cp data.csv "drive/My Drive/"

In [ ]:
quasi=pd.read_csv('quasi.csv')
quasi.sample(3)

In [ ]:
print(quasi['16'].value_counts())
quasi.shape

In [ ]:
new=quasi.dropna(axis=1, how='all')
new.sample(3)

In [ ]:
new.shape

In [ ]:
df.to_csv('states.csv', index=False)

In [ ]:
#split the rows into columns one at at time
# splitz=df.split(expand=True, pat=",")
# splitz.head()

In [ ]:
df.columns=['Loan Amount', 'State', 'Zipcode', 'NAICS Code', 'Business Type', 'Race, Ethnicity', 'Gender', 'Veteran' , 'Non Profit?', 'Date Approved', 'CD']

In [ ]:
df.head()