This is the fourth notebook and final clean up on the file before switching to PySpark.

In [ ]:
#import dependencies
import pandas as pd
import numpy as np
from datetime import date, datetime
import os, sys 
import io
import ee

In [ ]:
## set up pandas dataframe using set_options to warn when we are working on a copy instead of ooriginal dataframe
pd.set_option('mode.chained_assignment','warn')

In [ ]:
# dataframe will display without being truncated
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 25)
pd.set_option('display.width', 1000)

In [ ]:
# !pip install -U -q PyDrive

In [ ]:
#mounting the google drive to access the files
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# command shows file path
# ! ls

In [ ]:
from google.colab import files

In [ ]:
# filepath
path = "/content/drive/My Drive/data/quasi2.csv"

In [ ]:
#read the csv, create dataframe
df = pd.read_csv(path,)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#check for nulls
print(df.isna().sum())

In [ ]:
# drop non profit column. There is barely any information in it. 
df = df.drop('Non Profit', 1)

In [ ]:
#dropping null values from rows in the following columns
df=df.dropna(subset=['Zip', 'Race', 'State', 'City', 'Date', 'Jobs Saved', 'NAICS Code', 'Business Type'])
print(df.isna().sum())

In [ ]:
#lost about 10% of rows
df.shape

In [ ]:
df.info()

In [ ]:
#naics saved should not be a float. Need to convert to string before integer
df['NAICS Code']=df['NAICS Code'].astype(str)

In [ ]:
#strip the decimal and zero
df['NAICS Code'] = df['NAICS Code'].str.rstrip('.0')

In [ ]:
#take the first two letters of the NAICS code column and create category column. 
#category column can be matched to named values. The longer code was impractical
df['NAICS Category'] = df['NAICS Code'].str[:2]
df.info()

In [ ]:
df.sample(7)

In [ ]:
#somewhat forcing the date conversion because there must be some values that are not in date format 
df['Date'] =  pd.to_datetime(df['Date'], errors='coerce')

In [ ]:
#converting to date worked
df.info()

In [ ]:
#check 
df.sample(15)

In [ ]:
df['Jobs Saved'].dtype
#result says it is a string

In [ ]:
df['Jobs Saved'] = df['Jobs Saved'].astype(str)

In [ ]:
df['Jobs Saved'].dtype
#result says it is a string

In [ ]:
#strip off the decimal point if there is one
df['Jobs Saved'] = df['Jobs Saved'].str.rstrip('.0')

In [ ]:
df.sample(7)

In [ ]:
df['State'] = df['State'].str.lstrip(' ', )

In [ ]:
df['State'] = df['State'].str.strip('.', )

In [ ]:
df['State'] = df['State'].str.rstrip('"', )

In [ ]:
df['States'] = df['State'].str[:2]

df.info()

In [ ]:
df['States'] = df['States'].str.lstrip(' ', )

In [ ]:
df.head()

In [ ]:
df.sample(3)

In [ ]:
df = df[df['Jobs Saved'] != '']

In [ ]:
  df.sample(2)

In [ ]:
df.info()

In [ ]:
df['States'].value_counts(normalize=True, ascending=False)

In [ ]:
df['States'].value_counts(ascending=False)

In [ ]:
df = df.groupby('States').filter(lambda x: len(x) >= 5)

In [ ]:
df.sample(7)

In [ ]:
df['NAICS Category'].value_counts()

In [ ]:
df = df.groupby('NAICS Category').filter(lambda x: len(x) >= 5)

In [ ]:
df.to_csv('jobs_saved.csv', index=0)
!cp jobs_saved.csv "drive/My Drive/"

In [ ]:
col=list(df.columns)

In [ ]:
#convert the strings to integers in jobs saved
# df['Jobs Saved'] = pd.to_numeric(df['Jobs Saved'], errors="coerce")
# df['Jobs Saved'] = df['Jobs Saved'].astype(int)

In [ ]:
# df['Jobs Saved'].fillna(0, inplace = True)
df.shape

In [ ]:
df.dtypes

In [ ]:
df.sample(12)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
# df.to_csv('clean_ppp.csv', index=0)
# !cp clean_ppp.csv "drive/My Drive/"

In [ ]:
# data looks pretty good. 
df.head()