In [3]:
import pandas as pd 
import sys, io, os

In [39]:
csv='all_states.csv'

In [40]:

df = pd.read_csv(csv, header=None, sep="\n")
df = df[0].str.split(',', expand=True)

In [41]:
# df=pd.read_csv(csv, sep='delimiter', header=None)
pd.set_option('max_colwidth', 1000)
df.sample(100)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
3180603,7400,WARWICK,RI,02889,812112,Sole Proprietorship,White,Male Owned,Non-Veteran,,...,None,None,None,None,None,None,None,None,None,None
1036416,13100,GOULDSBORO,ME,04607,114112,Self-Employed Individuals,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
90599,114000,MANCHESTER,NH,03103,811192,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
3985758,20800,MANHATTAN BEACH,CA,90266,531210,Sole Proprietorship,Unanswered,Male Owned,Non-Veteran,,...,None,None,None,None,None,None,None,None,None,None
3505299,5600,LINCOLN,NE,68502,621330,Independent Contractors,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2628478,1351,LEHIGH ACRES,FL,33936,488510,Independent Contractors,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
2103169,3541,ROOSEVELT,NY,11575,236118,Corporation,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
609483,9255,SAVANNAH,GA,31410,713290,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
812039,1618.89,OWASSO,OK,74055,812112,Sole Proprietorship,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None
3809653,60584,LOS ANGELES,CA,90061,484110,Corporation,Unanswered,Unanswered,Unanswered,,...,None,None,None,None,None,None,None,None,None,None

In [7]:
df['27'].value_counts()

GU - 00    1
Name: 27, dtype: int64

In [10]:
# df[df['27'].str.contains("GU - 00")]==True

df.loc[df['27'] == 'GU - 00']

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
0,,,,,,,,,,,,,,,,,,,,,
0.0,BIRMINGHAM,AL,35203,541110,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,2,...,999990.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,52.0,04/29/2020,First Hawaiian Bank,GU - 00

In [45]:
# df.describe()
df.to_csv('allstates_delimiter_need_clean.csv', index=False)

In [5]:
df=pd.read_csv('allstates_delimiter_need_clean.csv', index_col=0)

df.sample(25)

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
0,,,,,,,,,,,,,,,,,,,,,
5000.00,MIRAMAR,FL,33025,446191,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20700.00,RICHMOND,VA,23229,423220,Sole Proprietorship,Unanswered,Unanswered,Unanswered,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12000.00,RICHMOND,MN,56368,441228,Corporation,Unanswered,Unanswered,Unanswered,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20833.00,FALL CITY,WA,98024,336413,Corporation,Unanswered,Unanswered,Unanswered,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79800.00,RALEIGH,NC,27603,238210,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106105.00,ST. CHARLES,MO,63301,423610,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122000.00,PITTSBURGH,PA,15203,722511,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11655.00,COVINGTON,TN,38019,721110,Limited Liability Company(LLC),Unanswered,Male Owned,Non-Veteran,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8333.34,BEAUMONT,TX,77706,711120,Corporation,Unanswered,Unanswered,Unanswered,NaN,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5500.00,MEDORA,ND,58645,531210,Limited Liability Company(LLC),White,Male Owned,Unanswered,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141881.25,STAMFORD,CT,06905,621210,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2598.00,IRVINE,CA,92620,621111,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60000.00,ELK GROVE,CA,95759,531390,Sole Proprietorship,Unanswered,Unanswered,Unanswered,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6400.00,BURLINGTON,VT,05401,512110,Sole Proprietorship,Unanswered,Unanswered,Unanswered,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32140.00,BELLINGHAM,WA,98225,621210,Corporation,White,Male Owned,Non-Veteran,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24700.00,MORTON,MS,39117,624410,Corporation,Unanswered,Unanswered,Unanswered,NaN,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15723.00,MISSION VIEJO,CA,92692,488999,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38200.00,PORT CHARLOTTE,FL,33948,621111,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42500.00,CONNERSVILLE,IN,47331,722511,Limited Liability Company(LLC),White,Male Owned,Unanswered,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21101.25,SUMTER,SC,29150,812990,Sole Proprietorship,Unanswered,Unanswered,Unanswered,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59600.00,EDMOND,OK,73034,722511,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074.72,WASHINGTON DC,DC,20002,453220,Sole Proprietorship,Unanswered,Unanswered,Unanswered,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4148.00,MONTGOMERY,AL,36109,443120,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69300.00,MC LEAN,VA,22101,611620,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75345.00,STAFFORD,TX,77477,333318,Corporation,Unanswered,Unanswered,Unanswered,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['26'].value_counts()

First Hawaiian Bank    1
Name: 26, dtype: int64

In [14]:
df.loc[df['26'] == 'First Hawaiian Bank']

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
0,,,,,,,,,,,,,,,,,,,,,
0.0,BIRMINGHAM,AL,35203,541110,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,2,...,999990.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,52.0,04/29/2020,First Hawaiian Bank,GU - 00

In [15]:
df['25'].value_counts()

04/29/2020    1
Name: 25, dtype: int64

In [16]:
df.loc[df['25'] == '04/29/2020']

,1,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
0,,,,,,,,,,,,,,,,,,,,,
0.0,BIRMINGHAM,AL,35203,541110,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,2,...,999990.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,52.0,04/29/2020,First Hawaiian Bank,GU - 00

In [17]:
df['24'].value_counts()

52.0    1
Name: 24, dtype: int64

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
Index: []

[0 rows x 27 columns]

In [24]:
df['23'].value_counts()

Series([], Name: 23, dtype: int64)

In [25]:
df['22'].value_counts()

Unanswered    1
Name: 22, dtype: int64